<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple Pay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1D842B71ED285EC00331336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D842D01ED285ED00331336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D842DB1ED285ED00331336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
